.idea/
conversion_debug.txt
conversion_debug_new.txt
/conll/filtered
/conll//full_adam/adam.all.input.txt
/conll//full_sivan/sivan.all.input.txt
/conll/invalid_parses
/LF_files/full_adam/
/LF_files/full_sivan/
/LF_files/split_adam/
/LF_files/sample*
/logs/
/src/*.png
/working_files/

